<article class="contact-info">
	<h2>Add Contact Form</h2>
	<form {{action 'saveContact' on='submit'}} >
		<p> First Name:</p>
		{{input type="text" value=firstName}}  

		<p> Surname:</p>
		{{input type="text" value=surname}} 

		<p> Phone Number:</p>
		{{input type="text" value=phoneNumber}} 

		<p> Mobile Number:</p>
		{{input type="text" value=mobileNumber}}

		 <button>Add Contact</button>
   </form>
</article>

{{contact-list class="table" contact=model deleteContact='deleteContact'}}


